/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
}

.body-container {
  min-height: calc(100vh - 96px);
  padding: 16px;
}
